body {
    color: white;
    background: rgb(8, 8, 8);
    margin: 260px;
    font-family: "Acme", sans-serif;
    margin-bottom: 100px;
}
.background {
    width: 40%;
    height: 40vh;
    background-size:cover;
    background-position:center;
}
header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 10px;
    font-size: 40px;
    color: rgba(248, 154, 154, 0);

    background-image:url(images.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

}

.chamada {
    background:rgba(0, 0, 0, 0.89);
    border:solid 2px rgb(255, 255, 255);
    padding-bottom: 60px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 6%;
}
h0 {
    font-size:40px ;
}
h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.videos-diferentes {
    gap: 25px;
    background-color:rgba(0, 0, 0, 0.877);
    border:solid 2px white;
}

.segundatemporada {
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.videos-diferentes img {
opacity: 0.7;
height: 200px;
}

.videos-diferentes img:hover {
opacity:1.0;
border: 1px solid rgb(212, 60, 131);
}

.categoria h2 {
    color: rgb(255, 255, 255);
}
